<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.team3backendhr.hr.query.mapper.EvaluationPeriodQueryMapper">

    <select id="existsByStatus" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM evaluation_period
        WHERE status = #{status}
    </select>

    <select id="findByStatus" resultType="com.ohgiraffers.team3backendhr.hr.command.domain.aggregate.EvaluationPeriod">
        SELECT *
        FROM evaluation_period
        WHERE status = #{status}
        LIMIT 1
    </select>

    <select id="findByEvalYear" resultType="com.ohgiraffers.team3backendhr.hr.command.domain.aggregate.EvaluationPeriod">
        SELECT *
        FROM evaluation_period
        WHERE eval_year = #{evalYear}
    </select>

</mapper>
